.body {
  background: lightgray;
}

.body h2, p, .readme-wrapper {
  text-align: center;
  text-decoration: none;
  color: rgb(55, 2, 2);
}

.container {
  font-family: Arial, Helvetica, sans-serif;
}

.readme-wrapper :hover {
 font-weight: bold;
  cursor: default;
  /* cursor: pointer; */
  color: blueviolet;
  text-transform: bold;
}

.span {
  color: blue;
  font-weight: 500;
}
